<table class="table table-striped">
  <tr>
    <td><h3>First Name</h3></td>
    <td><%= @user.first_name %></td>
  </tr>  
  <tr>
    <td><h3>Last Name</h3></td>
    <td><%= @user.last_name %></td>
  </tr>  
  <tr>
    <td><h3>Email</h3></td>
    <td><%= @user.email %></td>
  </tr>
</table>


